*.exe
Out
Test/out*.yaml
*.rbxl.lock

*.vsix
Extension/rbx-fileview/out/

.vscode/**
**/.vscode-test/
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*

node_modules
